.my-nav {
}
.my-nav .nav-link{
    font-size: 0.88rem;
}
.my-sub-nav .btn{
    font-size: 0.70rem;
    padding: 0.4rem 0.8rem;
     margin: 2px 3px 8px;
     
}
.my-sub-nav a{
    border-bottom: 1px #FF0000;
}
.my-sub-nav a:hover{
    color: #BE1818;
}

.navbar-toggleable-md .navbar-nav .nav-link{
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar{
    padding: .5rem 1rem;
}

  
@media (max-width: 768px) {
 .my-sub-nav .btn{

     width: 48%;
     margin: 3px;
}
}
@media (max-width: 480px) {
 .my-sub-nav .btn{
   
     width: 100%;
     margin: 3px;
}
}


#menu-toggle_{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}


.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  margin: auto;
  line-height: 65px;
}
.home-ico{
    padding: 2px;
}
.fa-home{
    color: #808080;
}
.fa-home:hover{
    color: #9CB3C2;
}
#navbarNav{

}
.navbar-toggler-right {
    z-index: 5000 !important;
}
.navbar-light {
    background: #E9F0F5;
}
.mod-name{
}

